.LandingPage .log-in {
}

.LandingPage .sign-up {
}

.LandingPage {
  /* background-image: url("https://wallpaperplay.com/walls/full/c/a/d/385399.jpg"); */
  box-shadow: inset 0 0 0 150vw rgba(0, 0, 0, 0.4);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0px 0px;
  padding: 10px 10px;
  min-height: 100vh !important;
}

.LandingPage hr {
  width: 75%;
  box-shadow: 1px 1px rgb(229, 229, 229);
}
