.center-alert {
  /* position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */

  position: fixed;
  top: 50%;
  left: 50%;
  width: 24em;
  height: 4em;
  margin-top: -2em; /*set to a negative number 1/2 of your height*/
  margin-left: -12em; /*set to a negative number 1/2 of your width*/

  text-align: center;
  z-index: 3000;
  border-radius: 5px;
  font-family: "Aclonica", sans-serif;
  padding: 15px 30px;
}
.center-alert .fas {
  margin-right: 5px;
}

.safe-alert {
  background-color: rgb(73, 224, 111);
  color: white !important;
}
.danger-alert {
  background-color: rgb(156, 17, 38);
  color: white !important;
}
.center-alert p {
  color: white;
  font-size: 1.2rem;
  margin: 10px 20px;
}
.center-alert .fa-times {
  color: white !important;
  font-size: 0.5rem;
  margin-right: 10px;
}
.center-alert .fa-times:hover {
  cursor: auto !important;
}
