.post-main-class {
  margin: 15px 20px;
}

.post-main-class .fas {
  margin-left: 10px;
  font-size: 1.8rem;
  color: rgb(98, 64, 114);
  color: rgb(102, 67, 119);
  color: rgb(85, 53, 101);
  color: rgb(56, 56, 56);
}

.post-main-class .fas:hover {
  cursor: pointer;
  /* filter: brightness(1.2); */
}
.post-main-class p {
  font-family: "Cabin Sketch", cursive;
  color: black;
  font-size: 1.1rem;
}
/* .MuiCardHeader-title {
  color: red;
} */

/* .MuiCardHeader-title:hover {
  text-decoration: underline;
  cursor: pointer;
} */

.MuiAvatar-img:hover {
  cursor: pointer;
  padding: 2px;
  border-radius: 50%;
}
.delete-post-button {
  background: none;
  border: none;
  text-align: center;
  margin-top: 12px;
}
.delete-post-button:focus {
  outline: none;
}
.delete-post-button:hover {
  font-size: 1.15rem;
}
.delete-post-button .fa-trash-alt {
  font-size: 1.2rem;
  color: rgb(141, 0, 0);
}
.post-main-class #liked {
  color: rgb(253, 194, 10);
  text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white,
    1px 1px 0 white;
}

.post-main-class #not-liked {
  color: rgb(122, 122, 122);
  text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white,
    1px 1px 0 white;
}

.post-main-class #liked:hover {
  color: rgb(122, 122, 122);
}

.post-main-class #not-liked:hover {
  color: rgb(253, 194, 10);
  outline: white;
}

.num-likes-class {
  font-family: Georgia, "Times New Roman", Times, serif !important;
  color: white !important;
  font-size: 1.5rem !important;
  font-weight: 500 !important;
  display: inline-block !important;
  margin-left: 5px !important;
}
.num-likes-class:hover {
  cursor: pointer;
  text-decoration: underline;
}

.fa-comment {
  display: inline-block;
  color: white !important;
  font-size: 1.4rem;
  margin-top: 2px;
}

.comment-post-class {
  display: flex;
  cursor: pointer;
}

.num-comments-class {
  font-family: Georgia, "Times New Roman", Times, serif !important;
  color: white !important;
  font-size: 1.5rem !important;
  font-weight: 500 !important;
  display: inline-block !important;
  margin-left: 5px !important;
}
.num-comments-class:hover {
  cursor: pointer;
  text-decoration: underline;
}
